.header1{
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    border: 1px solid var(--black);
    box-sizing: border-box;
    z-index: 2;
}

.link{
    text-decoration: none;
    color: var(--black);
}

.link:hover{
    color: var(--blue);
}

.entrance{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    background-color: var(--purple);
    border-radius: 43px;
}

.log{
    position: absolute;
    top: 10%;
    left: 40%;
    color: var(--black);
    font-size: 80px;
}

.formLogin{
    position: absolute;
    top: 45%;
    left: 15%;
    width: 60%;
    height: 100px;
}

.formLogin input{
    background-color:transparent;
    border-color: transparent;
    border-bottom: 1px solid var(--black);
    width: 100%;
    height: 50px;
}

.formLogin input:hover, :focus{
    background-color:transparent;
    border-color: transparent;
    border-bottom: 1px solid var(--black);
}

.formPas{
    position: absolute;
    top: 65%;
    left: 15%;
    width: 60%;
    height: 100px;
}

.formPas input{
    background-color:transparent;
    border-color: transparent;
    border-bottom: 1px solid var(--black);
    width: 100%;
    height: 50px;
}

.formPas input:hover, :focus{
    background-color:transparent;
    border-color: transparent;
    border-bottom: 1px solid var(--black);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--black);
    font-size: 36px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--black);
   opacity:  1;
   font-size: 36px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  var(--black);
   opacity:  1;
   font-size: 36px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  var(--black);
   font-size: 36px;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:  var(--black);
   font-size: 36px;
}
::placeholder { /* Most modern browsers support this now. */
   color:  var(--black);
   font-size: 36px;
}

.entrancebtn{
    font-size: 36px;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 37%;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--purple);
    color: var(--white);
}

.entrancebtn:hover{
    background-color: var(--dark-blue);
}
