.nameSubject{
    position: absolute;
    top: 15%;
    background-color: var(--blue);
    color: var(--white);
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 120px;
    font-size: 96px;
    text-align: center;
    border-radius: 30px;
}

.access{
    font-size: 36px;
    position: absolute;
    left: 4%;
    top: 33%;
}

.add{
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 33%;
    background-color: var(--blue);
    border: none;
    border-radius: 50%;
    width: 50px;
    color: var(--white);
}

.add:active{
    background-color: var(--yellow);
}

.courses{
    position: absolute;
    left: 4%;
    top: 40%;
    width: 50%;
    height: 50%;
    overflow: scroll;
    border: 1px solid var(--black);
}

/* .btn_cour{
    position: relative;
    box-sizing: border-box;
    width: 90%;
    height: 80px;
    border-radius: 30px;
    background-color: var(--blue);
    margin-left: 15px !important;
    margin: 15px;
    text-align: left;
    padding: 20px;
    font-size: 36px;
    color: var(--white);
    border: none;
    overflow: hidden;
    white-space: nowrap;
} */

.btn_edit{
    position: absolute;
    right: 10%;
    top: 8%;
    width: 50px;
    height: 50px;
    font-size: 36px;
    background-color: var(--blue);
    background-color: transparent;
    color: var(--white);
    border: none;
}

.btn_edit:hover{
    color: var(--yellow);
}

.btn_cour:hover{
    background-color: var(--yellow);
}

.btn_cour:active{
    background-color: var(--yellow);
}

.progressCurrentMonth{
    font-size: 36px;
    position: absolute;
    left: 56%;
    top: 33%;
}

.progressCurrentCourse{
    font-size: 36px;
    position: absolute;
    left: 56%;
    top: 40%;
    height: 100px;
    width: 40%;
    /* border: 1px solid var(--black); */
}

.containerProgress{
    border:1px solid var(--black);
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}

/* .greenLine{
    height: 100%;
    background-color: var(--green);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
} */

.planedLesson{
    font-size: 36px;
    position: absolute;
    left: 56%;
    top: 70%;
    width: 30%;
    height: 20%;
}

.firstLesson{
    background-color: var(--blue);
    color: var(--white);
    font-size: 24px;
    border-radius: 30px;
    width: 80%;
    height: 30%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.secondLesson{
    background-color: var(--blue);
    color: var(--white);
    font-size: 24px;
    border-radius: 30px;
    width: 80%;
    height: 30%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.deleteLesson{
    position: absolute !important;
    font-size: 32px !important;
    text-align: center !important;
    /* content: "\00d7"; */
    top: 0% !important;
    right: 5% !important;
    width: 5% !important;
    height: 40% !important;
    background-color: transparent !important;
    opacity: 80% !important;
    border: none !important;
    color: var(--black) !important;
    z-index: 5;
    /* margin: auto !important; */
}

.deleteLesson:hover{
    color: var(--yellow) !important;
}

.updateLesson{
    position: absolute !important;
    font-size: 32px !important;
    text-align: center !important;
    /* content: "\00d7"; */
    top: 40% !important;
    right: 5% !important;
    width: 5% !important;
    height: 40% !important;
    background-color: transparent !important;
    opacity: 80% !important;
    border: none !important;
    color: var(--black) !important;
    z-index: 5;
}

.updateLesson:hover{
    color: var(--yellow) !important;
}


.con{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: transparent;
    margin-left: 15px !important;
    margin: 15px;
}

.btn_cour{
    box-sizing: border-box;
    width: 90%;
    height: 80px;
    border-radius: 30px;
    background-color: var(--blue);
    text-align: left;
    padding: 20px;
    font-size: 36px;
    color: var(--white);
    border: none;
    overflow: hidden;
    white-space: nowrap;
}